/*----------------------------------------------------------------------------*\
    #VISIBILITY TRUMPS
\*----------------------------------------------------------------------------*/

body {

    &.black {
        background-color: #000;
    }

    &.white {
        background-color: #fff;
    }

    &.metis {
        background-color: #112f35;
    }

    &.inland {
        background-color: #201545;
    }

    &.presland {
        background-color: #007EB4;
    }

}


