/*----------------------------------------------------------------------------*\
    #APP FOOTER
\*----------------------------------------------------------------------------*/

.footer {
    background-color: $black;
    margin-top: 5rem;
    padding: 8rem 0 5rem;
    &__form {
        margin: 1.5rem 0 2rem;
    }
    &__copy {
        font-size: 0.75rem;
        color: $medium-gray;
        margin-top: 5rem;
    }
}

.footer input {
    background: none;
}
