/*----------------------------------------------------------------------------*\
    #APP HEADER
\*----------------------------------------------------------------------------*/

.head {
    padding: 1.5rem 0;
    &__logo {
        width: 4rem;
        height: auto;
    }

    &__logo:hover {
        fill: $blue;
    }
}


