/*----------------------------------------------------------------------------*\
    #APP HEADER
\*----------------------------------------------------------------------------*/
$scrollhide-nav-transition-speed: 0.8s;

.head {
    padding: 1.2rem 0;
    z-index: 5;
    
    transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);


    &.hidden {
        transform: translateY(-100%);
    }
    
    &__logo {
        width: 3rem;
        height: auto;
        fill:#fff;
        transition: all 0.4s ease;

        &--work {
            fill: $dark-gray;
        }
    }

    &__logo:hover {
        fill: $blue;
    }

    // &--about {
    //     background-color: #e5e3d7;
    // }
}

.head.active {
    background-color:rgba(7, 7, 7, 0.8);
    color:#fff;
  }


  
  
