.button--round {
    border-radius: 50%;
    margin: 0;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0;
   color:white; 
}

.button--round:hover {
    background-color: $blue;
    color: white;
}