.button--round {
    border-radius: 50%;
    margin: 0;
    width: 3rem;
    height: 3rem;
    padding: 0;
   color: red; 
}

.button.hollow:hover {
    background-color: $primary-color;
    color: white;
}