.project {
    
    margin-top: -18rem;

    &--feature {
        margin-top: -10rem;
        margin-bottom: 3rem;
    }

    &__img {
        height: 15rem;
        background-color: $blue;
        margin-bottom: 1.75rem;

    }

    &__info .button {
        display: block;
        width: 2rem;
        height: 2rem;
        margin-top: 1rem;
        border-color: $blue;
        color: $blue;
        background-color: none;
    }

    &__info .button:hover {
        border-color: $blue;
        color: white;
        background-color: $blue;
    }

    &__cell {
        margin: 3rem 0;
        position: relative;
    }
}

@include breakpoint(medium) {
    .project {
        &__cell {
            margin-bottom: 0;
        }

        &__img {
            height: 13rem;
    
            &--m {
                height: 18rem;
            }
    
            &--l {
                height: 22rem;
            }
        }
    }
}

@include breakpoint(large) {
    .project {

        &__img {
            height: 20rem;
    
            &--m {
                height: 25rem;
            }
    
            &--l {
                height: 30rem;
            }
        }
    }
}