.feature {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    margin-top: -7rem;
    

    &__img {
        height: 20rem;
        background-color: $blue;
        margin-bottom: 1.75rem;

        &--m {
            height: 25rem;
        }

        &--l {
            height: 30rem;
        }
    }

    &__info .button {
        display: block;
        width: 2rem;
        height: 2rem;
        margin-top: 1rem;
        border-color: $dark-gray;
        color: $dark-gray;
        background-color: none;
    }

    &__info .button:hover {
        border-color: $blue;
        color: white;
        background-color: $blue;
    }
}