.hero {
    height: 30rem;
    background-color: #0e0e0e;
    transition:all 200ms;

    &--home {
        height: 50vh;
        min-height: 37rem;
        background-color: #0e0e0e;
        background-image: url(../img/background-screens.svg);
        background-size: 100% auto;
    }

    &--metis {
        background-image:linear-gradient(to top right, #18134A, #302693);
        color: white;
        height: auto;
    }
    
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 11rem 0;
        color: white;
    }

    &__slider {
        color: $blue;
    }
}