.hero {
    height: 30rem;
    background-color: $light-gray;
    z-index: -1;

    &--home {
        height: 50vh;
        min-height: 37rem;
    }

    &--metis {
        background-image:linear-gradient(to top right, #18134A, #302693);
        color: white;
        height: auto;
    }
    
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 11rem 0;
    }

    &__slider {
        color: $blue;
    }
}