.hero {

    &__slider {
        color: $blue;
    }
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 85vh;
    min-height: 30rem;
    margin: 0 0 10rem;

    &__title {
        margin-bottom: 1.5rem;
        margin-top: 0;
    }

}