.menu {
    color: white;
}

.menu a  {
    border-bottom: 0.2rem solid rgba(240, 239, 236, 0);
    margin: 0 0.25rem;
    transition: all 0.5s ease;
    color: white;
}

.menu a:hover  {
    border-bottom: 0.2rem solid $blue;
}

