.project-list {

    margin-top: -15rem;


    &__img {
        height: 9rem;
        
        background-color: none;
        transition: all .2s ease-in-out;
    }

    &__info {
        margin: 1rem 0 1.5rem;
    }
    &__title {
        font-size: 0.75rem;
        margin-bottom: 0.75rem;
    }

    &__info .button {
        display: block;
        width: 2rem;
        height: 2rem;
        margin-top: 1rem;
        border-color: $blue;
        color: $blue;
        background-color: none;
    }

    &__info .button:hover {
        border-color: $blue;
        color: white;
        background-color: $blue;
    }

    &__cell:hover {
        .button--view {
            background-color: $dark-gray;
            color: white;
            width: 1.8rem;
            height: 1.8rem;
            padding: 0.32rem 0.2rem 0;
        }
        .project-list__img {
            transform: scale(0.97);

            
        }
    }


    

    &__cell {
        margin: 0;
        position: relative;
    }

    

    &__margin {
        padding-top: 5rem;
    }

}

@include breakpoint(medium) {
    .project-list {
        &__cell {
            margin-bottom: 0;
        }

        &__img {
            height: 16rem;
            margin-bottom: 1rem;

            &--wm {
                height: 16rem;
            }
    
            &--wl {
                height: 20rem;
                
            }
        }

        &__info {
            margin: 1rem 0 2rem;
            font-size: 0.75rem;
        }
        &__title {
            font-size: 1.2rem;
            margin-bottom: 0.75rem;
        }

        
    }
}

@include breakpoint(large) {
    .project-list {

        &__cell {
            margin:0 0 9rem;
            padding: 0;
        }

        &__img {
            height: 16rem;
            margin-bottom: 1.5rem;

            &--wm {
                height: 30rem;
            }
    
            &--wl {
                height: 37rem;
                
            }
        }

        &__info {
            margin: 1rem 0;
            font-size: 1.15rem;
        }
        &__title {
            font-size: 1.4rem;
            margin-bottom: 0.75rem;
        }
    }
}


