.project {

    margin-top: 10rem;

    &--feature {
        margin-top: -15rem;
        margin-bottom: 3rem;
    }

    &__img {
        height: 15rem;
        background-color: $blue;
        margin-bottom: 1.75rem;
    }

    &__info .button {
        display: block;
        width: 2rem;
        height: 2rem;
        margin-top: 1rem;
        border-color: $blue;
        color: $blue;
        background-color: none;
    }

    &__info .button:hover {
        border-color: $blue;
        color: white;
        background-color: $blue;
    }

    &__ft-cell {
        margin: 3rem 0;
        position: relative;
    }

    &__cell {
        margin: 0;
        position: relative;
    }

    &__margin {
        padding-top: 5rem;
    }
}

@include breakpoint(medium) {
    .project {
        &__cell {
            margin-bottom: 0;
        }

        &__img {
            height: 12rem;
    
            &--m {
                height: 15rem;
            }
    
            &--l {
                height: 19rem;
            }
        }
    }
}

@include breakpoint(large) {
    .project {

        &__img {
            height: 16rem;
    
            &--m {
                height: 20rem;
            }
    
            &--l {
                height: 24rem;
            }
        }
    }
}