.services {
    margin: 5rem 0 0;
    padding: 4rem 0;
    color: black;

    h4 {
        margin-bottom: 1.5rem;
    }

    &__cell {
        padding: 0 0.75rem;
        margin-bottom: 0rem;
 
    }
   
}

@include breakpoint(medium) {
    margin: 7rem 0 0;
    padding: 8rem 0;
    color: black;

    h4 {
        margin-bottom: 2rem;
    }

    &__cell {
        padding: 0 0.75rem;
        margin-bottom: 10rem;
 
    }
    
}

@include breakpoint(larger only) {
    .services {
    
        &__cell {
            padding: 0 0.75rem;
            margin-bottom: 2rem;
     
        }
       
    }
    
}