/*----------------------------------------------------------------------------*\
    #FORM ELEMENT STYLES
\*----------------------------------------------------------------------------*/

.footer input {
    border: none;
    border-bottom: 1px solid $medium-gray;
    box-shadow: none;
    color: $medium-gray;

}

.footer input:focus {
    border: none;
    border-bottom: 2px solid $blue;
    box-shadow: none;
}