/*----------------------------------------------------------------------------*\
    #APP WRAPPER
\*----------------------------------------------------------------------------*/

.app {

    &__head {

    }

    &__main {

    }

    &__aside {
        
    }

    &__foot {

    }
}

html, body, .app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

