// .dots-bg {
//     background: url(../img/bg.svg);
//     background-size: 100% auto;
// }


.scroll_container {
  height: 100vh;
  display: block;
  overflow: scroll;
}


#content {
  background: #fff;
  z-index: -1;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s;

  &--metis {
    background: #112f35;
  }

  &--home {
    background: #0e0e0e;
  }
}
#content.metis {
  background: #112f35;
}
#content.white {
  background: #fff;
}

#content.home {
  background: #112f35;
}